.footer {
  padding-top: 10px;
  padding-bottom: 12px;

  &-filling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
      margin-bottom: 10px;
    }
  }
}

.copyright {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 0px;
}

.design-link {
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &__field {
    border: none;
    border: 1px solid #e7e7e7;
    padding: 0 12px;
    font-size: 15px;
    line-height: 24px;
    font-family: $secondary-font;
    font-style: italic;
  }
}

.btn_green {
  min-width: 150px;
  padding: 12px 44px;
  background-color: $main-color;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: $secondary-color;
  }
}
