.footer {
  padding-top: 10px;
  padding-bottom: 12px;

  &-filling {
    @extend %flex-between;
    flex-wrap: wrap;

    &:before {
      display: block;
      content: '';
      @include size(100%, 1px);
      background-color: #e5e5e5;
      margin-bottom: 10px;
    }
  }
}

.copyright {
  @include font($main-font, 400, 14px, 1.2);
  padding: 10px 0px;
}

.design-link {
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.subscribe-form {
  display: flex;

  &__field {
    @include font($secondary-font, 400, 15px, 24px);
    font-style: italic;
    border: none;
    border: 1px solid #e7e7e7;
    padding: 0 12px;

    &::placeholder {
      color: #cccccc;
    }
  }
}

.btn_green {
  @include btn($main-color, #ffffff, 12px 44px, 150px);

  &:hover,
  &:focus {
    background-color: $secondary-color;
  }
}
