.team {
  &__list {
    display: flex;
  }

  &__item {
    width: calc((1200px - 2 * 30px) / 3);
    text-align: center;

    &:hover,
    &:focus {
      .overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    &-name {
      @include font($main-font, 400, 14px, 1.2);
      margin-bottom: 14px;
      text-transform: uppercase;
    }

    &-position {
      @include font($secondary-font, 300, 14px, 1.2);
      font-style: italic;
      color: $secondary-font-color;
    }

    &-image-wrapper {
      position: relative;
      transition: all 0.2s ease;
      margin-bottom: 30px;
    }
  }

  &__item:hover,
  &__item:focus {
    .team__item-image-wrapper {
      transform: translate(-10px, -10px);
      transition: all 0.2s ease;
      box-shadow: 10px 10px $main-color;
    }
  }

  &__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  @include size(100%, 100%);
  background: $main-gradient;
  opacity: 0;
  visibility: hidden;

  &:hover,
  &:focus {
    opacity: 1;
    visibility: visible;
  }
}

.social-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 1px;
  }

  &__link {
    display: flex;
    @include size(56px, 56px);
    background-color: $third-color;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;

    &-icon {
      fill: $secondary-color;
      transition: all 0.3s ease-in;

      &_facebook {
        @include size(13px, 26px);
      }

      &_twitter {
        @include size(26px, 22px);
      }

      &_pinterest {
        @include size(21px, 26px);
      }

      &_instagram {
        @include size(26px, 26px);
      }
    }

    &:hover,
    &:focus {
      .social-list__link-icon {
        fill: #ffffff;
      }

      background-color: $secondary-color;
    }
  }
}
