@mixin font($ff, $fw, $fz, $lh) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin btn($bgc, $c, $pad, $min-w) {
  background-color: $bgc;
  color: $c;
  padding: $pad;
  min-width: $min-w;
}
