$main-font: 'Montserrat',
Tahoma,
sans-serif;
$secondary-font: 'Roboto',
Arial,
sans-serif;
$third-font: 'Kaushan Script',
sans-serif;
$main-color: #95e1d3;
$secondary-color: #f38181;
$third-color: #fce38a;
$main-font-color: #333333;
$secondary-font-color: #999999;
$main-gradient: linear-gradient(to top,
  rgba(252, 227, 138, 0.9),
  rgba(243, 129, 129, 0.9));
